@media only screen and (min-width: 64rem){
    header{
        grid-template-columns: 10% 20% 60% 5% 5%;
    } 

    nav button{
        display: none;
    }
    nav{
        grid-column: 3;
        grid-row: 1;
        background-color: #adbfd4;
    }

    #primaryNav{
        position: static;
        display: flex;
        background-color: #adbfd4
    }
    
    nav li{
        flex: auto;
    }

    nav ul li a {
        border-top: none;
        color: #7a3021;
    }

    nav ul li.active a {
        background-color: rgba(0,0,0,0.2);
        color: #000;
    }

    .indexMain{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #banner{
        position: absolute;
        top: 13rem;
        left: 25rem;
    }

    #hero{
        grid-area: 1/2/4/4;
    }
    #spotlights{
        grid-area: 1/5/5/4;
    }
    
    #newsRelease{
        grid-area: 4/2/5/4;
    }

    #join{
        grid-column: 1;
    }

    #spotlights{
        display: block;
    }

    #spotlight3{
        display: block;
    }
}