@media only screen and (min-width: 32.5rem){
header{
    grid-template-columns: 20% 30% 30% 5% 5% 10%;
}
#facebook{
    grid-column: 4;
}
nav{
    grid-column: 6;
}

#today{
    grid-column: 1/7;
    margin:.5rem;
}

main{
    display: grid;
    grid-template-columns: 70% 30%;
}

#banner{
    position: absolute;
    top: 13rem;
    left: 15rem;
}

#hero{
    grid-column: 1/3;
}

#newsRelease{
    grid-column: 1/3;
    grid-row: 2;
}

#spotlights{
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 50% 50%;
}

#join{
    display: block;
    grid-row: 4;
    grid-column: 1/3;
}

footer{
    display: grid;
    grid-template-columns: 15% 20% 35% 30%;
}

footer img{
    grid-row: 1/4;
}

footer p{
    margin: .1rem;
    padding: .2rem;
}
#address{
    grid-column: 2;
}

#email{
    grid-column: 4;
    grid-row: 1;
}

#phone{
    grid-column: 4;
}

#map{
    grid-column: 4;
}

#copyrightInfo{
    grid-column: 1/5;
}

#cookCard{
    display: grid;
    grid-template-columns: 60% 40%;
}
#cookCard img{
    grid-row: 1/3;
}
#cookCard p{
    grid-area: 2/2/3/3;
}
#denaliCard{
    display: grid;
    grid-template-columns: 40% 60%;
}
#denaliCard picture{
    grid-column: 2;
}
#denaliCard h3{
    grid-row: 1;
}
#roadRunnerCard{
    display: grid;
    grid-template-columns: 60% 40%;
}
#roadRunnerCard p{
    grid-column: 2;
}
#bikeCard{
    display: grid;
    grid-template-columns: 40% 60%;
}
#bikeCard picture{
    grid-column: 2;
}
#bikeCard h3{
    grid-row: 1;
}
#iceSculptCard{
    display: grid;
    grid-template-columns: 60% 40%;
}
#iceSculptCard p{
    grid-column: 2;
}
#rondyCard{
    display: grid;
    grid-template-columns: 40% 60%;
}
#rondyCard picture{
    grid-column: 2;
}
#rondyCard h3{
    grid-row: 1;
}
}